footer {
    background-color: #fafafa;
    padding: 6rem 1rem 3rem;
  }
  footer .main {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 0.7fr;
    margin-bottom: 2rem;
  }
  footer .brand {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  footer .brand .socials {
    display: flex;
    padding: 0.5rem 0;
    gap: 1rem;
    align-items: center;
  }
  footer .socials a {
    color: inherit;
    display: flex;
    align-items: center;
  }
  footer .socials .tel {
    border-left: 1px solid var(--dark);
  }
  footer .brand p {
    max-width: 30ch;
    font-style: italic;
    line-height: 1;
  }
  footer .head {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
  footer .contacts p {
    margin-bottom: 0.2rem;
    /* max-width: 40ch; */
  }
  footer .bottom {
    border-top: 1px solid #e0e0e0e7;
    padding-top: 1rem;
  }

  @media (max-width: 820px) {
    footer .main {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 650px) {
    footer .main {
      grid-template-columns: 1fr;
    }
  }