.top {
  background-color: var(--dark);
}
.top > * {
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem;
}
.top .socials {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  padding: 0.3rem;
}
.top a:hover {
  transform: scale(1.15);
  opacity: 1;
  transition: all ease 0.2s;
}

.top path {
  fill: var(--highlight);
}
.mobile {
  display: none;
}
header input {
  display: none;
}

header {
  position: sticky;
  top: -2px;
  z-index: 20;
  background-color: #ffffffc2;
  backdrop-filter: blur(3px);
}
header > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

header nav {
  display: flex;
  gap: 0.5rem;
}
header nav > a {
  font-weight: 400;
  color: var(--dark);
  border-bottom: 4.5px solid transparent;
  padding: 0.55rem 1rem;
}
header nav > a:is(:hover, .active) {
  border-color: var(--blue);
  transition: border-color ease 0.7s;
}
header .cta {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-left: 1px solid #ebebeb;
  gap: 1rem;
}
header .cta a {
  padding: 0.55rem 0.7rem;
  font-weight: 400;
}
header .cta a.accent {
  font-weight: 600;
  font-size: 0.9rem;
  background-color: var(--blue);
  color: #fff;
  padding: 0.4rem 1.2rem;
  border-radius: 40px;
}



@media (max-width: 880px) {
    .mobile {
      display: inline-flex;
      height: 40px;
      padding: 0.5rem;
      width: auto;
      cursor: pointer;
    }
    header label {
      user-select: none;
    }
    header input:checked + nav {
      display: flex;
    }
    header nav {
      display: none;
      position: absolute;
      right: 0;
      gap: 0;
      top: 50px;
      background-color: #fffffff6;
      flex-direction: column;
      margin: 1rem;
      width: 250px;
      max-width: 100%;
    }
    header .cta {
      flex-direction: column;
      padding: 0;
      align-items: stretch;
      border: none;
      gap: 0;
    }
    header .cta a {
      padding: 0.5rem 1rem !important;
      color: inherit;
    }
    header .cta .accent {
      border-radius: 0 !important;
    }
    header nav > a {
      border: none;
    }
    header nav a:is(:hover, .active) {
      color: var(--blue);
      background-color: #f1f1f1;
    }
  }
  @media (max-width: 650px) {
    a.logo img {
      height: 25px;
    }
  }