@import url("./main.css");
@import url("./index-student.css");
@import url("./input.css");
.students {
  display: grid;
  width: 100%;
  padding: 2rem;
  padding-left: 3rem;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
h1 {
  font-size: clamp(2rem, 4vw, 6.5vw);
  line-height: clamp(2rem, 4vw, 6.5vw);
  font-weight: 400;
}
.students p {
  padding: 0.5rem 0;
}
.students a {
  display: inline-flex;
  font-weight: 400;
  background-color: var(--blue);
  color: #fff;
  padding: 0.1rem 0.5rem;
}
.students a:hover {
  background-color: var(--blue-hover);
}
.notices, form{
    padding: .5rem 2rem 2rem;
    width: 100%;
}
.notices .notice {
    margin-bottom: 1rem;
}
.notices p{
    margin-top: .5rem;
}
a.delete{
    font-weight: 400;
    display: inline-flex;
    background-color: var(--red);
    color: #fff;
    padding: .2rem .7rem ;
    line-height: 1;

}

a.red{
    color: var(--red);
}
a.blue{
    color: var(--blue);
}
td .btns{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}
td a{
    color: inherit;
}
.table th:first-child{
    padding-left: 2rem;
}
.table :is(th,td):first-child{
    text-align: left;
}