*{
    user-select: none;
}
main{
    padding-top: 0;
}
.test.wrapper{
    position: relative;
    max-width: 700px;
}
.test-head{
    padding: 2rem;
    width: 100%;
    border-bottom: 1px solid #bdbdbd38;
    background-color: #fff;
    position: sticky;
    top: 4rem;
    z-index: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.test-head img{
    height: 15px;
    width: 15px;
}

.test-head .time{
    display: flex;
    align-items: center;
    gap:.2rem;
}
.test-head .time span{
    display: flex;
    align-items: center;
}
.question:not(:last-child){
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #bdbdbd38;
}
.question h4{
    font-size: 1rem;
    font-weight: 400;
    color: #bdbdbd;
    padding-left: 1rem ;
}
.question .q{
    margin-bottom: 2rem;
    padding: .5rem 1rem 0;
}
input{
    display: none;
}
label{
    display: flex;
    gap: .5rem;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border: 1px solid #F0EDEE;
    cursor: pointer;
}
input:checked + label {
    background-color: var(--dark);
    color: #F0EDEE;
}
input.correct + label {
    background-color: var(--green);
    color: #F0EDEE;
}
input.fail + label {
    background-color: var(--red);
    color: #F0EDEE;
}
.paginations{
    margin-top: 2rem;
}