@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import url("./main.css");

* {
  user-select: none;
}

main {
  padding: 1rem;
  padding-top: 0;
}
/* .test.wrapper {
  position: relative;
  max-width: 700px;
}
.test-head {
  padding: 2rem;
  width: 100%;
  border-bottom: 1px solid #bdbdbd38;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
} */

.question .q + .ck {
  margin-bottom: 0rem !important;
  padding: 0.5rem 0;
}

label {
  cursor: pointer;
}
input:checked + label {
  background-color: var(--dark);
  color: #f0edee;
}
input.correct + label {
  background-color: var(--green);
  color: #f0edee;
}
input.fail + label {
  background-color: var(--red);
  color: #f0edee;
}
.paginations {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.paginations a {
  user-select: none;
  background-color: var(--blue);
  color: var(--footer-highlight);
  font-weight: 400;
  line-height: 1;
  padding: 0.7rem 1.4rem;
}
.paginations a:is(:hover, .active) {
  background-color: var(--text-dark-color);
}





@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

/* User predefined edit */
label.correct_{
	display: flex;
	gap: .5rem;
	align-items: center;
	cursor: auto;
}
label.correct_ input{
	cursor: pointer;
	padding: .5rem;
	width: fit-content;
}
.options .reason{
	padding: .5rem 0 .5rem 2rem;
	display: none;
}
.options .reason label{
	position: relative;
	cursor: auto;
}
.options .reason label::before{
	display: inline-flex;
	position: absolute;
	background-color: #b3b3b3;
	bottom: 7px;
	left: -30px;
	content: '';
	width: 20px;
	height: 2px;
}
.options .input:focus-within .reason{
	display: block;
} 
.options .reason input{
	padding: .3rem 1rem;
}
.questions .question{
	border-radius: 8px;
}